html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


h1{
    font-family: "Didact Gothic", sans-serif;
    font-size: 50px;
} 
h2, h3, h4{
    font-family: "Didact Gothic", sans-serif;
} 
h3 {
     font-size: 30px;
     padding-left: 10px;
     color: blue;
}
h4 {
    font-size: 20px;
    color: blue;
    border-bottom: 5px blue;
}
p {
    font-family: "Didact Gothic", sans-serif;
    padding-right:50%;
    padding-left: 10px;
    font-size: 22px;
}
img {
    width: 50%;
    display:block;
}

.heading__img {
    width: 30%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid black;
}
.article {
  display: flex;
  flex-direction: column;
}
.article h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border-bottom: 2px solid #1b1bff;
  padding-bottom: 0.5rem;
}
.article img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: .5rem;
}
.article p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0;
}